body {
  background: #EBEBEB;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App {
  height: 500px;
  width: 350px;
  perspective: 0 200px;
  background: #EBEBEB;
  position: relative;
}

.screen {
  background: rgb(212, 23, 127);
  color: rgb(244, 247, 247);
  text-shadow: 0 0 5px rgba(155, 170, 170, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 29px;
  box-sizing: border-box;
  height: 20%;
  overflow: hidden;
  font-size: 24px;
  position: relative;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 80%;
}

.button {
  background: linear-gradient(45deg, #cad2c5 0%, #abb5aa 100%);
  display: flex;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: center;
  width: 25%;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
  height: 20%;
  min-width: 25%;
}

.button[value="equal"] {
  height: 40%;
}

.button:hover {
  background: #d7ddd3;
  cursor: pointer;
}

.button:active {
  background: #bdc7b7;
}